<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body style="background-color: black; color: white">
    <h2 th:text="'List of Owners'">Owner Index</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner.id}">ID</td>
            <td th:text="${owner.firstName}">First Name</td>
            <td th:text="${owner.lastName}">Last Name</td>
        </tr>
    </table>
</body>
</html>
