<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body style="background-color: black; color: white">
    <h1 th:text="'List of Vets'">Vet Index</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
        </thead>
        <tr th:each="vet: ${vets}">
            <td th:text="${vet.id}">ID</td>
            <td th:text="${vet.firstName}">First Name</td>
            <td th:text="${vet.lastName}">Last Name</td>
        </tr>
    </table>
</body>
</html>
